html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#shadow {
  position: absolute;
  top: 28.8px;
  left: 11.22px;
  width: 351.56px;
  height: 465.46px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
}