html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#TuryeSave {
  display: inline-block;
}

#TuryeGen {
  display: inline-block;
}


#shadow {
  position: absolute;
  top: 36px;
  left: 14px;
  width: 440px;
  height: 582.5px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
}
